<?xml version='1.0' encoding='utf-8'?>
<widget 
	id="com.wettor" 
	version="1.0.1" 
	android-versionCode="1.0.1"
	ios-CFBundleVersion="1.0.1"
	xmlns="http://www.w3.org/ns/widgets" 
	xmlns:cdv="http://cordova.apache.org/ns/1.0" >
	
	<name>Wettor Marcas e Patentes</name>
	
    <description>
         Aplicativo para acompanhamento do processo de registro de Marcas.
    </description>
	
    <author email="atendimento@imaginecomunicacao.com.br" href="http://www.imaginecomunicacao.com.br">
        Imagine Comunicação Digital
    </author>
	
	<icon src="res/icon.png" />
    <splash src="res/splash.png" />
	
	
    
   

	<!-- Customize your app and platform with the preference element. -->
	<preference name="permissions" value="none" />
	
	<!-- all: default means both landscape and portrait are enabled -->
    <preference name="orientation" value="default" />
	
	<!-- all: possible values handset, tablet, or universal -->
    <preference name="target-device" value="universal" />
	
	<!-- all: hides the status bar at the top of the screen -->
	<preference name="fullscreen" value="true" />
    
	
	<!-- Solicita acesso ao aparelho -->
	<feature name="http://api.phonegap.com/1.0/device" />
	<feature name="http://api.phonegap.com/1.0/network"/>
	
	
<!-- ICONES :::: Android - IOS -->
    
	<platform name="android">
		<!--
            ldpi    : 36x36 px
            mdpi    : 48x48 px
            hdpi    : 72x72 px
            xhdpi   : 96x96 px
            xxhdpi  : 144x144 px
            xxxhdpi : 192x192 px
        -->
		
		<icon src="res/icon/android/icon-36-ldpi.png" density="ldpi" />
        <icon src="res/icon/android/icon-48-mdpi.png" density="mdpi" />
        <icon src="res/icon/android/icon-72-hdpi.png" density="hdpi" />
        <icon src="res/icon/android/icon-96-xhdpi.png" density="xhdpi" />
        <icon src="res/icon/android/icon-144-xxhdpi.png" density="xxhdpi" />
        <icon src="res/icon/android/icon-192-xxxhdpi.png" density="xxxhdpi" />
		
	 </platform>
	 
	 
	 <platform name="ios">

        <!-- iPhone / iPod Touch -->
        <icon src="res/icon/ios/icon-57.png" width="57" height="57" />
        <icon src="res/icon/ios/icon-57-2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="res/icon/ios/icon-72.png" width="72" height="72" />
        <icon src="res/icon/ios/icon-72-2x.png" width="144" height="144" />

    </platform>
	
<!-- Fim dos icones -->
	

<!-- SPLASH-SCREEN  :::: ANDROID - IOS -->	
	
	<plugin name="cordova-plugin-splashscreen" spec="^4.0.3" />
	

	
	<platform name="android">
		<!-- you can use any density that exists in the Android project -->
		
		<splash src="res/screen/android/splash-land-hdpi.png" density="land-hdpi"/>
		<splash src="res/screen/android/splash-land-ldpi.png" density="land-ldpi"/>
		<splash src="res/screen/android/splash-land-mdpi.png" density="land-mdpi"/>
		<splash src="res/screen/android/splash-land-xhdpi.png" density="land-xhdpi"/>
	 
		<splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi"/>
		<splash src="res/screen/android/splash-port-ldpi.png" density="port-ldpi"/>
		<splash src="res/screen/android/splash-port-mdpi.png" density="port-mdpi"/>
		<splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi"/>
	</platform>
	
	
	<preference name="SplashScreenDelay" value="8000" />
	
</widget>
